{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block content %}

	 <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-4 offset-sd-3 offset-lg-4">
            <h1 class="mb-3 text-center">Please log in</h1>
            <form class="mb-3" action="." method="POST">
              {{ form.as_p }}
              {% csrf_token %}
              <button type="submit" class="btn btn-primary btn-block" value="Log-in">Login</button>
            </form>
          </div>
        </div>
        
      </div>
    </div>
    <div class="social">
        <ul>
            <li class="twitter"><a href="{% url "social:begin" "twitter" %}">Login with Twitter</a></li>
        </ul>
    </div>
{% endblock%}